<div class="popup-background" ui-sref="list"></div>
<form class="input-popup">
        <textarea placeholder="Description"
                  cols="25"
                  rows="9"
                  name="description"
                  ng-model="newTask.description"
                  class="input-popup__descr form-control">
        </textarea>

    <select id="newTask"
            class="input-popup__state form-control"
            ng-model="newTask.taskState"
            ng-options="state.state as state.title for state in states">
        <option value="">--- Select task state ---</option>
    </select>

    <input placeholder="Name"
           type="text"
           name="name"
           ng-model="newTask.name"
           class="input-popup__name form-control">

    <input placeholder="Hours"
           type="number"
           name="hours"
           ng-model="newTask.hours"
           class="input-popup__hours form-control">

    <button ng-click="addNewTask(newTask)"
            class="input-popup__add-btn btn btn-primary">Add new task
    </button>

    <button ui-sref="list"
            class="input-popup__cancel-btn btn btn-warning">Cancel
    </button>
</form>