<div class="filter">
    <form>
        <a ui-sref="addNew">add new task</a>
        <label for="filter">show task by state:</label>
        <select id="filter"
                ng-model="selectedState"
                ng-change="showTasksByState(selectedState)"
                ng-options="option.state as option.title for option in filterOptions">
        </select>

        <label for="order-by">select prop to sort:</label>
        <select id="order-by"
                ng-change="setOrderProp(orderProp, descOrder)"
                ng-model="orderProp">
            <option value="name">Task name</option>
            <option value="hours">Hours</option>
            <option value="createTime">Creation time</option>
        </select>
        <label for="desc-order">check to desc. order:</label>
        <input id="desc-order"
               type="checkbox"
               ng-model="descOrder"
               ng-change="setOrderProp(orderProp, descOrder)">
    </form>
</div>