<form class="navbar-form filter">
    <button ui-sref="list.addNew"
            class="btn btn-primary filter__add-new">
        Add new task
    </button>

    <select id="filter"
            class="form-control"
            ng-model="selectedState"
            ng-change="showTasksByState(selectedState || 'all')"
            ng-options="option.state as option.title for option in filterOptions">
        <option value="">--- Show task by state ---</option>
    </select>

    <select id="order-by"
            class="form-control"
            ng-change="setOrderProp()"
            ng-model="orderProp">
        <option value="">--- Select property to sort ---</option>
        <option value="name">Task name</option>
        <option value="hours">Hours</option>
        <option value="createTime">Creation time</option>
        <option value="taskState">Task state</option>
    </select>

    <button type="button"
            class="btn btn-info"
            ng-model="descOrder"
            uib-btn-checkbox
            btn-checkbox-true="1"
            btn-checkbox-false="0"
            ng-change="setOrderProp()">
        Click to desc. order
    </button>
</form>