body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

textarea {
    font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
}

:-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
}

/******* end of common styles *******/

.list-container {
    padding: 20px;
}

.filter *:not(:last-child) {
    margin-right: 10px;
}

.task {
    padding: 10px;
    width: 50%;
    position: relative;
}

.task__delete-btn {
    position: absolute;
    top: 27px;
    right: 18px;
}

.task input, .task select {
    width: auto;
}

.task__name-editor {
    margin-bottom: 5px;
}

.task__edit-btn {
    margin-top: 8px;
}

.task__description {
    width: 300px;
    word-wrap: break-word;
}

.task__description-editor {
    float: left;
    margin-right: 15px;
    max-width: 320px;
    max-height: 270px;
}

.task__state {
    font-weight: 600;
    margin-bottom: 7px;
}

.task__state-editor {
    margin-bottom: 5px;
}

.done-clr {
    background-color: seagreen;
}

.todo-clr {
    background-color: indianred;
}

.in-progress-clr {
    background-color: yellowgreen;
}

.testing-clr {
    background-color: lightseagreen;
}

.input-form * {
    display: block;
}

.input-form button {
    background-color: mistyrose;
    margin-top: 15px;
}

.input-popup {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding: 25px;
    z-index: 10;
    background-color: wheat;
    border-radius: 4px;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .7;
    z-index: 5;
}

.input-popup__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.input-popup__descr {
    float: left;
    margin-right: 15px;
    max-width: 320px;
    max-height: 270px;
    height: 147px;
}

.input-popup__name, .input-popup__hours {
    margin-bottom: 10px;
}

.input-popup__state-label {
    margin-bottom: 10px;
}