body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
}

:-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
}

/******* end of common styles *******/

.list-container {
    padding: 20px;
}

.filter {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    width: 200px;
    background-color: wheat;
}

.filter * {
    display: inline-block;
}

form *:not(label) {
    padding: 7px;
}

.task {
    padding: 10px;
    line-height: 1.5rem;
    width: 50%;
    position: relative;
}

.task .edit-btn {
    background-color: darkgoldenrod;
    position: relative;
    padding: 7px;
    margin-top: 5px;
}

.task .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.task input, .task textarea {
    display: block;
}

.task label {
    display: block;
}

.task__description {
    width: 300px;
    word-wrap: break-word;
}

.done-clr {
    background-color: seagreen;
}

.todo-clr {
    background-color: indianred;
}

.in-progress-clr {
    background-color: yellowgreen;
}

.testing-clr {
    background-color: lightseagreen;
}

.input-form * {
    display: block;
}

.input-form button {
    background-color: mistyrose;
    margin-top: 15px;
}

.input-popup {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding: 25px;
    z-index: 10;
    background-color: wheat;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .7;
    z-index: 5;
}

.input-popup__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.input-popup__descr {
    float: left;
    margin-right: 15px;
    max-width: 320px;
    max-height: 270px;
    height: 147px;
}

.input-popup__name, .input-popup__hours {
    margin-bottom: 10px;
}

.input-popup__state-label {
    margin-bottom: 10px;
}