body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

textarea {
    font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
}

:-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {
    font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
}

/******* end of common styles *******/

.app-container {
    padding: 20px;
}

.list-container {
}

.header {
}

.filter *:not(:last-child) {
    margin-right: 10px;
}

.task {
    padding: 10px;
    width: 50%;
    position: relative;
}

.task__name {
    display: inline-block;
}

.task__order-prop {
    display: inline-block;
    margin-left: 5px;
    font-size: 70%;
}

.task__delete-btn {
    position: absolute;
    top: 27px;
    right: 18px;
}

.task input, .task select {
    width: auto;
}

.task__name-editor {
    margin-bottom: 5px;
}

.task__edit-btn {
    margin-top: 8px;
}

.task__description {
    width: 300px;
    word-wrap: break-word;
}

.task__description-editor {
    float: left;
    margin-right: 15px;
    max-width: 320px;
    max-height: 270px;
}

.task__state {
    font-weight: 600;
    margin-bottom: 7px;
}

.task__state-editor {
    margin-bottom: 5px;
}

.done-clr {
    background-color: rgb(35, 152, 87);
}

.todo-clr {
    background-color: indianred;
}

.in-progress-clr {
    background-color: yellowgreen;
}

.testing-clr {
    background-color: lightseagreen;
}

.input-popup {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding: 25px;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
}

.input-popup * {
    width: auto;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .7;
    z-index: 5;
}

.input-popup__descr {
    float: left;
    margin-right: 15px;
    max-width: 218px;
    max-height: 270px;
    height: 147px;
}

.input-popup__name,
.input-popup__hours,
.input-popup__state {
    margin-bottom: 10px;
    width: 183px;
}

.input-popup__cancel-btn {
    margin-left: 4px;
}

.ui-view-container {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}

[ui-view="addNew"].ng-enter,
[ui-view="addNew"].ng-leave {
    transition: all .3s ease-in-out;
}

[ui-view="addNew"].ng-enter {
    opacity: 0;
}

[ui-view="addNew"].ng-enter-active {
    opacity: 1;
}

[ui-view="addNew"].ng-leave {
    opacity: 1;
}

[ui-view="addNew"].ng-leave-active {
    opacity: 0;
}

.auth {
    padding: 20px;
}

.auth__header {
    /*margin-bottom: 10px;*/
}

.auth__username,
.auth__password {
    margin-bottom: 10px;
}

.auth__container {
    margin-top: 40px;
}